In [1]:
from sklearn import tree
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

rs = np.random.seed(0)

In [16]:
pets_data = pd.read_csv('https://stepik.org/media/attachments/course/4852/dogs_n_cats.csv')
pets_data.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0     15    18.0         1        1                   0  собачка
1     20    24.0         1        0                   0  собачка
2     34    40.8         1        1                   0  собачка
3     26    31.2         1        1                   0  собачка
4     16    19.2         1        1                   0  собачка

In [17]:
pets_data['Вид'] = pets_data['Вид'].apply(lambda x: 1 if x == 'собачка' else 0)

In [20]:
pets_data.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям  Вид
0     15    18.0         1        1                   0    1
1     20    24.0         1        0                   0    1
2     34    40.8         1        1                   0    1
3     26    31.2         1        1                   0    1
4     16    19.2         1        1                   0    1

In [23]:
pets_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Длина               1000 non-null   int64
 1   Высота              1000 non-null   float64
 2   Шерстист            1000 non-null   int64
 3   Гавкает             1000 non-null   int64
 4   Лазает по деревьям  1000 non-null   int64
 5   Вид                 1000 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 47.0 KB

In [21]:
X = pets_data.drop(['Вид'], axis=1)
y = pets_data['Вид']

In [33]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [34]:
clf = tree.DecisionTreeClassifier(criterion='entropy')

In [35]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy')

In [36]:
clf.score(X_train, y_train)

1.0

In [38]:
clf.score(X_test, y_test)

1.0

In [44]:
predict_data = pd.read_json('C:\Users\aurrog\Downloads\dataset_209691_15.txt', encoding='utf-8')
print(clf.prdict(predict_data))

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (2325868983.py, line 1)